<table class="table table-sm table-striped table-bordered">
  <tr>
    <th>Title</th>
    <th>Length</th>
    <th>Rating</th>
    <th></th>
  </tr>

  <tr ng-repeat="movie in model.movies">
    <td>{{ movie.title }}</td>
    <td>{{ movie.length }}</td>
    <td>
      <movie-rating value="movie.rating"></movie-rating>
    </td>
    <td>
      <div class="btn-group">
        <button class="btn btn-sm btn-default" ng-click="model.upRating(movie)">+</button>
        <button class="btn btn-sm btn-secondary" ng-click="model.downRating(movie)">-</button>
      </div>
    </td>
  </tr>
</table>